{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         h1
        {
            color:red-;
            background-color: aquamarine;
            height: 80px;
            width:180px;
            font-size: 30px;
            text-align: center;
            font-weight: bold;
            line-height: 80px;
        }
    </style>

</head>
<body>
    <center>
        <h1>genericStatic</h1>
        <img src="{% static 'images/pexels-alexravvas-27060873.jpg' %}" alt="Image not found" height="300px">
    </center>
</body>
</html>